.messages {
    position: relative;
    width: 100%;
    padding: 10px;
    max-width: 700.37px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.body {
    height: 100%;
}
.message {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: LightBlue;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.message:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    border: 5px solid transparent;
    border-left: 5px solid LightBlue;
    border-top: 5px solid LightBlue;
}
.item {
    display: flex;
    justify-content: flex-start;
}
.second_item {
    justify-content: flex-end;
}
.second_message {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: LightGray;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.second_message:before {
    position: absolute;
    content: '';
    right: 0;
    bottom: -5px;
    border: 5px solid transparent;
    border-right: 5px solid LightGray;
    border-top: 5px solid LightGray;
}

.select_dialog {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}


