.dialogs {
    position: relative;
    min-width: 169px;
    margin-right: 10px;
}
.body {
    position: fixed;
    height: calc(100% - 70px)
}
.names {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
}

.name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    color: DarkSlateGrey;
    background: LightGray;
}
.name:hover {
    background-color: darkblue;
    color: white;
}
.active {
    background-color: darkblue;
    color: white;
}

.names::-webkit-scrollbar {
    width: 0;
}
.avatar {
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
}

.dialogsMobile {
    position: relative;
    width: 100%;
}

.body {
    position: fixed;
    height: calc(100% - 70px);
    width: 100%;

}
