.body {}
.profile {}
.messages {}
.news {}
.music {}
.settings {}
.item:last-child {
    margin-top: 39px;
}
.item a {
    display: block;
    white-space: nowrap;
    transition: 300ms;
    cursor: pointer;
    padding: 10px;
}
.item a:visited, :link {
    color: white;
}
.active {
    background-color: deepskyblue;
}
.item:hover {
    background-color: deepskyblue;
}