.header {
    position: fixed;
    display: flex;
    z-index: 9999;
    max-width: 1000px;
    width: 100%;
    height: 60px;
    background-color: darkblue ;
    align-items: center;
    justify-content: space-between;
}
.logo {
    max-height: 40px;
}
.logo.anim {
    -webkit-animation: anim 10s linear infinite;
    animation: anim 10s linear infinite;
}
@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.brand {
    font-size: 24px;
    color: aliceblue;
}

.back {
    width: 100%;
    min-height: 60px;
}
.body {
    display: flex;
    align-items: center;
}
.login {
    position: relative;
    padding-right: 10px;
    color: white;
    cursor: pointer;
}
.login_menu {
    transition: 300ms;
    z-index: 99;
    position: absolute;
    bottom: -35px;
    right: 10px;
    color: #000000;
    width: 150px;
    border: solid 1px slategray;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.35);
}

.login_menu li {
    position: relative;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
}
.login_menu li:hover {
    background-color: rgba(220,220,220,0.5);
}
.login_menu:before {
    position: absolute;
    content: '';
    top: -20px;
    right: 10px;
    border: 10px solid transparent; border-bottom: 10px solid #ffffff;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;

}
.body_login {
    display: flex;
    align-items: center;
}
.icon {
    margin-right: 10px;
}
.hide {
    z-index: 98;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.active {
    height: 39px;
}
.item {}
.side_menu {}
.MyClass {
    transition: 300ms;
    top: 0;
    height: 0;
    opacity: 0;
}
.MyClassEnterActive {
    top: 0;
    height: 100%;
    opacity: 1;
}
.MyClassEnterDone {
    opacity: 1;
}
.MyClassExit {
    opacity: 0;
}

@media screen and (max-width: 726px) {
    .burger {
        cursor: pointer;
        transition: 300ms;
        position: relative;
        display: flex;
        min-width: 30px;
        height: 20px;
        margin-right: 10px;
        margin-left: 10px;
        align-items: center;
    }
    .burger > span {
        transition: 300ms;
        width: 100%;
        height: 3px;
        background: white;
    }
    .burger:before {
        transition: 300ms;
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: 0;
        height: 3px;
        background-color: white;
    }
    .burger:after {
        transition: 300ms;
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        opacity: 1;
        background-color: white;
    }
    .burger_active:after {
        transform: rotate(45deg);
        bottom: 8px;
    }
    .burger_active > span {
        opacity: 0;
    }
    .burger_active:before {
        transform: rotate(-45deg);
        top: 9px;
    }
}