* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 0;
    outline: 0;
}
a {
    text-decoration: none;
}
textarea {
    resize: none;
    height: 0;
}
html {
    height: 100%;
    overflow-x: hidden;
}
body {
    height: 100%;
    font-family: 'Candara', serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
#root {
    height: 100%;
}
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;

}
.main {
    display: flex;
    flex: 1 1 auto;
    padding-right: 10px;
    padding-top: 10px;
}

.body {
    height: 100%;
    overflow-y: auto;
}


