.user {
    padding: 10px;
    background-color: LightGray;
}
.body {
    display: flex;
}
.addfriend {
    margin-right: 10px;
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.button {
    background-color: darkblue;
    height: 20px;
    width: 60px;
    color: white;
    transition: 300ms;
    margin-top: 5px;
}
.button:hover {
    background-color: deepskyblue;
    cursor: pointer;
}
.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.info {
    width: 100%;
}
.name {
    font-size: 18px;
}
.from {
    color: Gray;
    font-size: 12px;
}

.status {
    margin-top: 20px;
    color: Gray;
}